<html>
<head>
</head>
<body>
<h1> GAME OVER </h1>
<h2>Your score - <b><%= @score %></b></h2>
<a>
  <%= link_to "New Game", { :controller => :game, :action => :start } %>
  <%= link_to "Statistic", { :controller => :game, :action => :statistic } %>
</a>
</body>
</html>