<html>
<head>

</head>
<body>
<h1> Milion </h1>
      <%= link_to "Start Game", { :controller => :game, :action => :start } %>
      <%= link_to "administrator", { :controller => :questions, :action => :index } %>
      <%= link_to "Statistic", { :controller => :game, :action => :statistic } %>
</body>
</html>